<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>contactEmailRot13</key>
	<string>ohaqyrf@grkgzngr.bet</string>
	<key>contactName</key>
	<string>Michael Sheets</string>
	<key>description</key>
	<string>Merged into Python Django bundle.</string>
	<key>isDeleted</key>
	<true/>
	<key>name</key>
	<string>Python Django Templates</string>
	<key>uuid</key>
	<string>636D6496-6201-4C95-B51C-007608BE98FF</string>
</dict>
</plist>
